
@{
    ViewBag.Title = "World Cup";
}

<h2>World Cup 2018</h2>

<p>The 2018 FIFA World Cup Russia™ is drawing ever nearer – with just 16 days to go! Between now and the start of the World Cup, we will take a closer look at a different statistic from the history of the tournament each day.</p>
<p>16 - Decades from now, there will still be football fans all over the world who can remember where they were when they watched Germany beat hosts Brazil 7-1 in the semi-finals of the 2014 FIFA World Cup™. The eventual champions’ evening was made all the sweeter when Miroslav Klose scored his 16th World Cup goal to give them a 2-0 lead.</p>
<p>By finding the target against A Seleção that evening, Klose became the World Cup’s all-time leading scoring, leading a list that includes Ronaldo (15) and compatriot Gerd Muller (14). "I don’t personally think of myself as an icon, but it’s definitely an incredible thing," the record-breaking striker said in an interview with FIFA.com at the start of the year. "Scoring 16 goals at the World Cup is something you usually only dream about. But, as ever, I’ve got to pay tribute to my team, as I could never have done it without them."</p>
<p>After winning 137 caps, scoring 71 goals and making 24 World Cup appearances for his country as well as collecting numerous titles and accolades, ‘Miro’ finally hung up his boots in 2016.</p>